header {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    font-style: bold;
}

body {
    background-color: black;
}

h1, h2, h3, h4 {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    font-style: bold;  
}

img {
    position: relative;
    left: 50px;
    border: 2px solid black;
    border-radius: 35%;
    height: 300px;
    width: 350px;
}