header {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    font-style: bold;
}

body {
    background-color: black;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    font-style: bold;  
}

img {
    border: 2px solid black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}