header {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    font-style: bold;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: xx-large;
    font-style: bold;  
}